<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="EXHIBITORSLIST_URL" value="https://beautyworld-middle-east.exhibitionarchitect.co.uk/api/exhibitorlist"/>
    <add key="ONLINEEXHIBITORLISTING_URL" value="https://beautyworld-middle-east.exhibitionarchitect.co.uk/api/exhibitors/forms/OnlineExhibitorListing"/>
    <add key="CLIENTSECRET" value="5d2d3ab2804d498390ddeec9df8ef3a0"/>
    <add key="CONSUMERNAME" value="globalmedia"/>
    <add key="SIZE" value="100"/>
    
    
  </appSettings>
	<connectionStrings>
		<add name="CMSConnStr" connectionString="User=sa;database=Messefrankfurt_Beautyworld;Data Source=localhost\SQLEXPRESS;pwd=amma123;Max Pool Size=75000;" providerName="System.Data.SqlClient"/>
		<add name="AMRDConnStr" connectionString="User=sa;database=Messefrankfurt_BeautyWorld_Revamp;Data Source=localhost\SQLEXPRESS;pwd=amma123;Max Pool Size=75000;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>